<!doctype html>
<html lang="en" ng-app="equationFinder">
<head>
  <meta charset="utf-8">
  <title>Equation Finder</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="styles/custom.css">
  <link rel="stylesheet" href="styles/flat-ui.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="scripts/controllers.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap/js/dropdown.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Gafata&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="equationFinderCtrl" style="padding-top: 60px;">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
        <span class="sr-only">Toggle navigation</span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
      <ul class="nav navbar-nav navbar-left">  
        <span class="navbar-brand" style="padding-left: 40px;">Equation Finder</span>         
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{activeField}} <b class="caret"></b></a>
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            <li ng-repeat="field in fields" ng-class="{'active': isActiveField(field)}" ng-click="selectField(field)">
            <a href="#" style="font-size:large;">{{field.name}}</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" ng-show="currentField.subType">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{activeSubfield}} <b class="caret"></b></a>
          <span class="dropdown-arrow"></span>
          <ul class="dropdown-menu">
            <li ng-repeat="type in currentField.subType" ng-click="updateFieldTypes(type.type)">
            <a href="#" style="font-size:medium;">{{type.type}}</a>
            </li>
          </ul>
        </li>
       </ul>
       <ul class="nav navbar-nav navbar-right" style="padding-right:40px">
            <li><a href="#" ng-click="setDetailsState('submit')">Submit Equation</a></li>
            <li><a href="#" ng-click="setDetailsState('about')">About</a></li>
          </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-3 sidebar">
        <!--Sidebar content-->
        <p><input type="text" class="col-md-12" placeholder="Search" ng-model="query" style="margin-top:5px;"></p>

        <ul style="padding-left:0px; padding-top:40px;">
            <div class="panel panel-default" ng-repeat="symboltype in symbols">
              <div class="panel-heading"><h5 class="panel-title">{{symboltype.name}}</h5></div>
              <div class="panel-body">

                <button type="button"  ng-repeat="symbol in symboltype.letter" ng-click="updateLetters(symbol.symbol)" ng-class="{'btn btn-success': isSelected(symbol.symbol), 'btn btn-primary': !isSelected(symbol.symbol)}" class="symbols"><div ng-bind-html="to_trusted(symbol.symbol)"></div></button>

              </div>
            </div>
        </ul>

      </div>

      <div class="col-md-6 equations">
        <!--Body content-->
        
        <table class="table table-hover">
          <tr ng-click="selectEquation(equation)" ng-repeat="equation in filteredItems = (equations | filter:equationFilter | filter:query)  | limitTo:limit">
            <td>
              <h4>{{equation.name}}</h4>
              <h2 mathjax-bind="equation.rep"></h2>
            </td>
            <!-- <p>{{equation.rep}}</p> -->
          </tr>
        </table>
        <p class="showMore center"><button ng-show="showMore" ng-click="increaseLimit()" type="button" class="btn btn-default">Show More</button><p>
      </div>

      <div class="col-md-3 center fixed">
        <!--Details content-->
        <span ng-show="detailsState == 'welcome'">
          <p><h3>Welcome.</h3></p>
          <p>Select symbols or enter a query to filter the equations.</p>
          <p>Click the equations for details.</p>
          <p>This site is currently under construction. Please excuse the lack of equations and any bugs you may run into.</p>
        </span>

        <span ng-show="detailsState == 'about'">
          <p><h3>About.</h3></p>
          <p>This site was designed to make finding equations easier.</p>
          <p>View the source code <a href='https://github.com/tancik/Equation-Finder' target="_blank">here</a></p>
          <p>Designed and built by Matthew Tancik. View other projects at <a href='http://www.matthewtancik.com' target="_blank">www.matthewtancik.com</a></p>
        </span>

        <span ng-show="detailsState == 'submit'">
          <form role="form" onSubmit="JavaScript:postContactToGoogle()">
            <div class="form-group">
              <label for="inputEmail3">Email (optional)</label>
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="equationInput">Equation and Details</label>
              <textarea class="form-control" id="equationInput" placeholder="Equation" rows="3" required></textarea>
            </div>
            <div class="form-group">
              <label for="wikipediaLink">Wikipedia Link</label>
              <input type="url" class="form-control" id="wikipediaLink" placeholder="Wikipedia Link">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button> 
            </div>
          </form>
        </span>

        <h3>{{active.name}}</h3>
        <h6 class="details" ng-bind-html="to_trusted(active.details)"></h6>
        <a href="{{active.wikipedia}}" ng-show="active.wikipedia" target="_blank"><img src="/images/wikipedia.png" border="0" style="border:none;max-width:50%;"/></a>
        <a href="{{active.wolfram}}" ng-show="active.wolfram" target="_blank"><img src="/images/wolfram.png" border="0" style="border:none;max-width:40%;"/></a>
      </div>
    </div>
  </div>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46779055-2', 'equationfinder.com');
    ga('send', 'pageview');
  </script>
</body>
</html>
